/*## COLORS ##*/
/*## BODY ##*/
/*## FONTS ##*/



/* ## COLORS ## */
/* maroon - #7e0006/rgba(126, 0, 6, 1) */
/* copper penny - #b16669/rgba(177, 102, 105, 1) */
/* white - #fff/rgba(255, 255, 255, 1) */
/* black - #000/rgba(0, 0, 0, 1) */
/* shadow blue - #7180AC/rgb(112, 127, 170, 1) */
/* yankees blue - #1C3144 */
/* jet - #34344A/rgba(54, 54, 54, 1) */
/* space cadet - #1B264F/rgba(54, 54, 54, 1) */
/* steel blue - #518dbb/rgba(81, 141, 187, 1) */




/* ## BODY ## */
#bootstrapOverrides {
	color: #7E0006;
	/*color: #fff;*/
	margin-top: 45px;
	/*background-color: #7E0006;*/
	background-color: #fff;
	/*overflow: hidden;*/
	font-family: 'Droid Sans', sans-serif;
}

/* ## FONTS ## */
#bootstrapOverrides h1,
#bootstrapOverrides h2,
#bootstrapOverrides h3,
#bootstrapOverrides h4 {
	font-family: 'Belleza', sans-serif;
	font-weight: 600;
}

#bootstrapOverrides h1 {
	font-size: 30px;
}

#bootstrapOverrides h2 {
	font-size: 28px;
}

#bootstrapOverrides h3 {
	font-size: 20px;
}

#bootstrapOverrides b {
	font-weight: 700;
}

#bootstrapOverrides p {
	font-size: 20px;
	margin-bottom: 5px;
}

#bootstrapOverrides a {
	color: #1B264F;
}

#bootstrapOverrides a:hover {
	color: #518DBB;
}

#bootstrapOverrides .container,
#bootstrapOverrides .nav {
	width: 100%;
	padding: 0;
	height: 45px;
}

#bootstrapOverrides .nav {
	padding-bottom: 5px;
}

#bootstrapOverrides .navbar-default {
	background-color: rgba(126, 0, 6, 0.9);
	border: none;
	border-bottom: 1px solid #7E0006;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#bootstrapOverrides nav ul,
#bootstrapOverrides nav li {
	width: 100%;
	text-align: center;
}

#bootstrapOverrides nav a {
	color: #fff;
	padding: 10px 0;
	font-size: 17px;
	width: 98%;
	margin-left: 1%;
	text-shadow: 0 0 2px #000;
}

#bootstrapOverrides nav li:hover a,
#bootstrapOverrides nav a:hover {
	background-color: #fff;
	text-shadow: none;
	color: #7E0006;
}

#bootstrapOverrides .navbar {
	min-height: 45px;
}

#bootstrapOverrides .navbar-toggle {
	border-color: transparent;
	margin-right: 20px;
}

#bootstrapOverrides .navbar-toggle:focus, #bootstrapOverrides .navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#bootstrapOverrides .nav,
#bootstrapOverrides nav li {
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: rgba(126, 0, 6, 0.9);
}

#bootstrapOverrides .navbar-default .icon-bar,
#bootstrapOverrides .navbar-default .icon-bar {
	background-color: #fff;
}

#bootstrapOverrides .navbar-default .navbar-toggle:focus,
#bootstrapOverrides .navbar-default .navbar-toggle:hover {
	background-color: #fff;
	box-shadow: 0 0 2px #000;
}

#bootstrapOverrides .navbar-default .navbar-toggle:focus .icon-bar,
#bootstrapOverrides .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #7E0006;
	/*background-color: #fff;*/
}

/*.getInTouch {
	width: 90%;
	position: absolute;
	left: 5%;
	text-align: right;
}*/

#bootstrapOverrides .here {
	background-color: rgba(255, 255, 255, 0.8);
	color: #7E0006;
	text-shadow: 0 0 2px #fff;
}

body {
	height: auto;
	min-height: 100%;
}

#brand {
	width: 50vw;
	position: fixed;
	left: 25vw;
	top: 0;
	color: #fff;
	z-index: 1100;
	text-align: center;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

	.hex {
		display: none;
	}

	#brand h1 {
		font-size: 22px;
		margin: 5px 0 0;
	}

	#brand h2 {
		font-size: 16px;
		margin: 0 0 3px;
	}

#tagline {
	width: 100vw;
	left: -25vw;
	padding: 12px 30px 5px;
	background-color: rgba(126, 0, 6, 0.6);
    color: #fff;
	text-shadow: 0 0 2px #000;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

	#tagline p {
		font-size: 16px;
	}

#content {
	height: 100%;
	width: 100vw;
}

.info {
	display: none;
	max-width: 800px;
}

.active {
	display: block;
	margin: 0 auto 45px;
	/*position: relative;*/
	/*bottom: 15vh;*/
	/*height: 70vh;*/
	width: 100vw;
	/*background-color: rgba(255, 255, 255, 0.8);*/
	/*border-radius: 3px;*/
	/*overflow-y: scroll;*/
	/*margin: auto;*/
	padding: 15px;
	/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
}

.map-container {
	height: 200px;
	width: calc(100% + 30px);
	margin-top: -15px;
	margin-bottom: 20px;
	margin-left: -15px;
	display: inline-block;
}

#map {
	height: 100%;
	width: 100%;
}

#map .map-label {
	color: #000;
	font-size: 12px;
}

.about-section {
	border: 1px solid #7E0006;
	width: 100%;
	height: 100%;
    padding: 15px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	font-size: 18px;
}

.about-section__label {
	font-weight: bold;
}

.about-section h1 {
    margin-top: 0;
}

.about-section ul {
	padding-left: 20px;
	list-style: none;
}

#about-page .about-section ul {
	padding-left: 0;
}

#home-page .text {
}

#home-page p {
	text-align: center;
	display: inline;
}

#about-page img {
	width: 200px;
	margin: 10px;
	float: right;
	display: inline-block;
	border: 1px solid #7E0006;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#about-page h1 {
	text-align: center;
	margin-top: 0;
}

#about-page .moreInfo {
	display: block;
	margin: auto;
	font-size: 14px;
}

#extended {
	display: none;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1101;
}

#extended h1 {
	text-align: center;
	margin-top: 0;
}

#extended i {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #1B264F;
	cursor: pointer;
}

#extended i:hover {
	color: #518DBB;
}


#moreInfo {
	background-color: #fff;
	height: 80vh;
	width: 70vw;
	position: absolute;
	top: 10vh;
	left: 15vw;
	padding: 25px;
	overflow-y: scroll;
}

	#moreInfo img, #moreInfo p {
		display: inline;
	}

	#moreInfo img {
		float: left;
		margin: 0 20px 20px 0;
	}

/*.getInTouch {
	width: 66vw;
	position: absolute;
	left: 7vw;
	text-align: right;
}

	.getInTouch p {
		margin-right: 10px;
	}

	.textInput, .messageArea, .checkHuman {
		width: 66vw;
		display: flex;
		flex-direction: row;
		margin-top: 5px;
	}

		.textInput p, .messageArea p, .checkHuman p {
			width: 22vw;
		}


		.textInput input, .messageArea textarea {
			width: 44vw;
			min-width: 190px;
		}

		#bootstrapOverrides input, #bootstrapOverrides textarea {
			border: 1px solid #7E0006;
			font-family: 'arial';
		}

		.checkHuman {
			position: relative;
		}

		.textInput input, .checkHuman input {
			max-height: 33px;
		}

		.messageArea textarea {
			height: 30%;
			padding: 1px;
		}*/

		/*.checkHuman input {
			flex: 1;
			min-width: 190px;
			height: 36px;
			position: absolute;
			right: 0;
			bottom: 0;
			margin-top: 8pc;
		}

		.checkHuman img, .checkHuman a {
			position: absolute;
			left: 0;
		}


	.getInTouch button {
		width: 80px;
		position: relative;
		margin-left: calc((66vw - 160px)/3);
		margin-top: 8px;
		float: left;
	}*/

#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 40px;
	background-image: url("../images/British_Honduras_1914.jpg");
	background-size: 100vw;
	font-size: 15px;
	text-align: center;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

	#footer p {
		background-color: rgba(255, 255, 255, 0.3);
		padding: 5px;
		height: 100%;
		width: 100%;
		text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
	}

@media (min-width:768px) {
	#bootstrapOverrides nav a {
		margin-top: 2px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#bootstrapOverrides nav li {
		width: 20%;
		/*height: 30px;*/
	}

	#bootstrapOverrides nav li:nth-child(2) {
		margin-right: 20%;
	}

	.active {
		display: block;
		/*margin-bottom: 45px;*/
		/*position: relative;*/
		/*bottom: 15vh;*/
		/*height: 70vh;*/
		/*width: 80vw;*/
		/*background-color: rgba(255, 255, 255, 0.8);*/
		/*border-radius: 3px;*/
		/*overflow-y: scroll;*/
		/*margin: auto;*/
		/*padding: 1vw 5vw;*/
		/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
	}

	#brand {
		width: 26vw;
		height: 65px;
		position: fixed;
		top: 0;
		left: 37vw;
		z-index: 1100;
		text-align: center;
		text-shadow: none;
	}

		.hex {
			display: block;
			position: absolute;
			top: 0;
			left: -5vw;
			width: 36vw;
			max-height: 70px;
			z-index: -1;
		    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.6));
		    -webkit-filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.6));
		}

		#brand h1 {
			font-size: 24px;
			margin: 5px 0;
			color: #7E0006;
		}

		#brand h2 {
			font-size: 20px;
			margin: 0;
			color: #7E0006;
		}

	#tagline {
		padding-top: 25px;
	}

	#tagline p {
		font-size: 20px;
	}

	#home-page {
		position: relative;
		height: auto;
	}

	.map-container {
		border: 1px solid #7E0006;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
		height: calc(100% - 50px);
		width: 250px;
		margin: 10px;
		position: absolute;
	}

	#home-page .about-section {
		width: calc(100% - 270px);
		margin-left: 270px;
	}

	.about-section {
		margin: 10px;
	}

	#home-page p {
		margin-top: 15px;
		width: 59vw;
		/*text-align: center;*/
		/*font-size: 3.5vh;*/
		/*position: absolute;*/
		/*right: 0;*/
		/*display: inline-block;*/
	}

	#about-page .about-section {
		width: calc(100% - 280px);
		float: left;
		margin: 10px;
	}

}

@media (min-width:950px) {
	#brand h1 {
		font-size: 28px;
	}

	#brand h2 {
		font-size: 22px;
	}

}

